html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    overflow-y: auto;
    background: rgb(142,207,255);
    background: linear-gradient(141deg, rgba(142,207,255,1) 0%, rgba(255,255,255,1) 100%);
    /* background-color: whitesmoke; */
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main-content {
    flex: 1;
}
  
hr.result {
    flex: 1;
    margin: 0 10px;
    border: none;
    border-top: 1px solid #333;
}

h5 {
    margin: 0;
}

.h5wrapper {
    display: flex;
    align-items: center;
}


.bg-orange {
    background-color: #cc6600 !important;
}

a {
    text-decoration: none;
}

/* Optionally, you can add a hover effect */
a:hover {
    text-decoration: none; /* Remove underline on hover */
}


.navbar .nav-link {
    position: relative;
    text-decoration: none; /* Remove default underline */
    color: white;
}

.navbar .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Thin underline */
    background-color: yellow;
    transition: width 0.3s ease; /* Smooth animation for width */
}

.navbar .nav-link.active::before {
    width: 100%; /* Expand underline on active state */
}

.navbar .nav-link:hover::before {
    width: 100%; /* Expand underline on hover */
}

