@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Orbitron:wght@400;500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    overflow-y: auto;
    background: rgb(142,207,255);
    background: linear-gradient(141deg, rgba(142,207,255,1) 0%, rgba(255,255,255,1) 100%);
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main-content {
    flex: 1;
}
  
hr.result {
    flex: 1;
    margin: 0 10px;
    border: none;
    border-top: 1px solid #333;
}

h5 {
    margin: 0;
}

textarea.form-control {
    resize: none;
    min-width: 120px;
    max-width: 100%;
}

.h5wrapper {
    display: flex;
    align-items: center;
}


.bg-orange {
    background-color: #cc6600 !important;
}

a {
    text-decoration: none;
}

/* Optionally, you can add a hover effect */
a:hover {
    text-decoration: none; /* Remove underline on hover */
}


.navbar .nav-link {
    position: relative;
    text-decoration: none; /* Remove default underline */
    color: white;
}

.navbar .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Thin underline */
    background-color: yellow;
    transition: width 0.3s ease; /* Smooth animation for width */
}

.navbar .nav-link.active::before {
    width: 100%; /* Expand underline on active state */
}

.navbar .nav-link:hover::before {
    width: 100%; /* Expand underline on hover */
}


.topbar {
    font-size: 14px;
    line-height: 1.5;
}


.brand-text {
    font-family: 'Orbitron', sans-serif; /* Cool futuristic font */
    font-weight: bold;
    font-size: 2.5rem; /* Larger font size for impact */
    background: linear-gradient(90deg, #00c6ff, #0072ff); /* Gradient color */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 8px rgba(0, 114, 255, 0.7), 0px 0px 15px rgba(0, 183, 255, 0.9); /* Enhanced glow effect */
    animation: shimmer 1s infinite linear; /* Shimmer effect */
    letter-spacing: 2px; /* Add some spacing between letters for a sleek look */
    text-transform: uppercase; /* Uppercase for a bold statement */
    text-align: center; /* Center the text */
}

/* Shimmer effect animation */
@keyframes shimmer {
    0% {
        text-shadow: 0px 2px 8px rgba(0, 114, 255, 0.7), 0px 0px 15px rgba(0, 183, 255, 0.9);
    }
    100% {
        text-shadow: 0px 2px 8px rgba(0, 183, 255, 0.9), 0px 0px 15px rgba(0, 255, 255, 0.9);
    }
}